.title {
    font-size: 23px;
    font-weight: 700;
}

.daily-item {
    background-color: #477ca5;
    color: #fff;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 14px;
}

.icon-small {
    width: 40px;
}

.day {
    color: #fff;
    flex: 1 1;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
}

.description {
    flex: 1 1;
    cursor: pointer;
    margin-right: 15px;
    text-align: right;
}

.min_max {
    cursor: pointer;
    color: #fff;
}

.daily-details {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 0;
    row-gap: 0;
    column-gap: 15px;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    background-color: #9DB2BF;
    border-radius: 15px;
    width: 95%;
    margin: 0 auto;
}

.daily-details-itmes {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;

}

.daily-details-itmes label:first-child {
    color: #1c5364;
}

.daily-details-itmes label:last-child {
    color: #212121;
}
